body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    /* display: grid;
    grid-template-columns: 15% 1fr; */
}

header {
    background-color: red;
    min-width: 100px;
    height: 100vh;
    position: sticky;
    top: 0;
    display: none;
}

button{height: 30px;}

nav{display: flex;
flex-direction: column;
position: sticky;}


h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

p {
    margin: 0;
}

#sect1 {
    background-color: aquamarine;
    display: flex;
}

#sect2 {
    background-color: pink;
    display: flex;
}

div#first-paragraph {
    background-color: skyblue;
}

div#second-paragraph {
    background-color: rgb(239, 173, 146);
}

div#games {
    background-color: lightgreen;
    width: 120%;
}

div#organisers {
    background-color: powderblue;
    width: 100%;
}

section#register {
    background-color: blueviolet;
    height: 50px;
}

footer {
    background-color: black;
    color: white;
    height: 100px;
}