body{background-color: bisque;
display: flex;
margin: 0;}

div{background-color: aqua;
width: 100%;
height: 1000px;
text-align: center;}
section{background-color: red;
width: 100%;
text-align: center;}
